{% assign sum = site.posts | size %}

<nav class="nav__list">
  <input id="ac-toc" name="accordion-toc" type="checkbox" />
  <label for="ac-toc">{{ site.data.ui-text[site.locale].menu_label }}</label>
  <ul class="nav__items" id="category_tag_menu">
      <li style="margin-bottom: 10px">
        <span style="font-family:'Ownglyph_UNZ-Rg'; font-size:1em">🌼 Total Post ({{sum}})</span>
      </li>
      <li>
            <span style="font-family:'Ownglyph_UNZ-Rg'; font-size:1.5em;">카테고리</span>
            <hr style="border-width:1px 0px 0px 0px; border-style:solid; height:1px; margin:0px; padding:0px" />
            <ul>
                {% for category in site.categories %}
                    {% if category[0] == "programming" %}
                        <li style="font-family:'Ownglyph_UNZ-Rg'; font-size:1em; margin-top:5px; margin-left:10px">
                          <span style="font-size:0.8em; margin-left:10px">📂</span>
                          <a href="/blog/categories/programming" class="">프로그래밍 ({{category[1].size}})</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul>
                {% for category in site.categories %}
                    {% if category[0] == "blog" %}
                        <li style="font-family:'Ownglyph_UNZ-Rg'; font-size:1em; margin-top:5px; margin-left:10px">
                          <span style="font-size:0.8em; margin-left:10px">📂</span>
                          <a href="/blog/categories/blog" class="">Blog ({{category[1].size}})</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul>
                {% for category in site.categories %}
                    {% if category[0] == "daily" %}
                        <li style="font-family:'Ownglyph_UNZ-Rg'; font-size:1em; margin-top:5px; margin-left:10px">
                          <span style="font-size:0.8em; margin-left:10px">📂</span>
                          <a href="/blog/categories/daily" class="">일상(日常) ({{category[1].size}})</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
      </li>
</nav>
