        .category_total_post {
            font-family: 'Ownglyph_ryuttung-Rg';
            font-size: 0.7em;
            color:darkgoldenrod;
        }
        .categor_title_2024 {
            font-family: 'Ownglyph_ryuttung-Rg';
            font-size: 1em;
            color:saddlebrown;
        }
        .category_list_2024 {
            font-family: 'Ownglyph_ryuttung-Rg';
            font-size: 0.7em;
            color:brown;
            line-height: 1.5em;
        }
        .category_hr_2024 {
            padding: 0px;
            margin: 0px;
            border-width:0.5px 0px 0px 0px;
            height: 1px;
            border-style: solid;
            
        }
